.leaflet-popup-content-wrapper {
    background-color: #222231;
    color: white;
    display: flex;
    flex-direction: column;
}

.leaflet-top {
    top: 45px;
}

.title {
    font-size: 1.2rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.favBtn {
    color: #222231;
    background-color: white;
    padding: 8px;
    font-size: 1.2rem;
    border-radius: 6px;
    box-shadow: 3px 3px 0 gray;
}

.leaflet-popup-tip {
    display: none;
}

.adress {
    font-size: 0.8rem;
    color: gray;
}
